footer{
    position : absolute;
    bottom : 0px;
    width : 100%;
    height : 100px;
    background-color : black;
    color : white;

}

.footer-container{
    left-padding : 5%;
    right-padding : 5%;
    left-margin : 5%;
    right-margin : 5%;
    display : grid;
}

.footer-item{
    background-color : gray;
    width : 20%;
    gap : 5%;
    flex-grow : 1;
}