footer{
    position : absolute;
    bottom : 0px;
    background-color : black;
    height : 80px;
    font-color : white;
    text-align : center;
    align-items : center;
    display : flex;
    justify-content : left;

    color : white;
    width : 100%;
}

.footer-container{
    display : flex;
}

.footer-item{
    background-color : gray;
    width : 20%;
    gap : 15%;
    flex-grow : 1;
}