header{
    background-color : black;
    height : 50px;
    font-color : white;
    text-align : center;
    display : flex;
    align-items : center;
}

header nav{
    background-color : gray;
}

header nav a{
    color : white;
    text-decoration : none;
}

