/* Partie principale */

main {
    flex: 1;
}

body{
    display : flex;
    min-height: 100vh;
    flex-direction : column;
    margin : 0%;
    padding : 0%;
}

/*Projets mise en page*/

.project-grid{
    display : flex;
    gap : 20px;
    border : 5px;

    margin-left : 5%;
    margin-right : 5%;
}

/*Accueil */

/* Banniere Photo et nom*/

.banner-name{
    display : flex;
    height : 320px;
    align-items : center;
    justify-content : center;
    background-color : grey;

}

.banner-name img {
    padding : 2%;
    height : 300px;
    width : 300px;
    border-radius: 50%;
    background-color : grey;
    border-radius : 50%;
}


.banner-name h1 {
    height : 90%;
    width : 80%;
    font-size : 500%;
    text-align : center;
    background-color : grey;
}

/*texte intro*/

.texte-intro{
}

/* Competences */

/* Projets */

/* Projet individuel*/

.project{
    border : 5px;
    flex-grow : 1;
    background-color : grey;

    border-radius : 5%;
}

.project:hover{
    transform: scale(1.2);
}

/* Formations */

/* Experiences */
