.project-grid{
    display : flex;
    gap : 20px;
    border : 5px;
}

.project{
    border : 5px;
    flex-grow : 1;
    background-color : grey;

    border-radius : 10%;
}

.project:hover{
    transform: scale(1.2);
}
