/* Partie principale */

main {
    flex: 1;
}

body{
    display : flex;
    min-height: 100vh;
    flex-direction : column;
    margin : 0%;
    padding : 0%;
}

/*Projets mise en page*/

.project-grid{
    display : flex;
    gap : 20px;
    border : 5px;

    margin-left : 5%;
    margin-right : 5%;
}

/* Projet individuel*/

.project{
    border : 5px;
    flex-grow : 1;
    background-color : grey;

    border-radius : 5%;
}

.project:hover{
    transform: scale(1.2);
}
