/*!* Partie principale *!*/

/*main {*/
/*    flex: 1;*/
/*}*/

/*body{*/
/*    display : flex;*/
/*    min-height: 100vh;*/
/*    flex-direction : column;*/
/*    margin : 0%;*/
/*    padding : 0%;*/
/*}*/

/*!*Projets mise en page*!*/

/*.project-grid{*/
/*    display : flex;*/
/*    gap : 20px;*/
/*    border : 5px;*/

/*    margin-left : 5%;*/
/*    margin-right : 5%;*/
/*}*/

/*!*Accueil *!*/

/*!* Banniere Photo et nom*!*/

/*.banner-name{*/
/*    display : flex;*/
/*    height : 320px;*/
/*    align-items : center;*/
/*    justify-content : center;*/
/*    background-color : grey;*/

/*}*/

/*.banner-name img {*/
/*    padding : 2%;*/
/*    height : 350px;*/
/*    width : 350px;*/
/*    border-radius: 50%;*/
/*    background-color : grey;*/
/*    border-radius : 50%;*/
/*}*/


/*.banner-name h1 {*/
/*    height : 90%;*/
/*    width : 80%;*/
/*    font-size : 500%;*/
/*    text-align : center;*/
/*    background-color : grey;*/
/*}*/

/*!*texte intro*!*/

/*.texte-intro{*/
/*    width : 80%;*/
/*}*/

/*.texte-intro pre{*/
/*    font-size : 110%;*/
/*}*/

/*!* Competences *!*/

/*!* Projets *!*/

/*!* Projet individuel*!*/

/*.project{*/
/*    border : 5px;*/
/*    flex-grow : 1;*/
/*    background-color : grey;*/

/*    border-radius : 5%;*/
/*}*/

/*.project:hover{*/
/*    transform: scale(1.2);*/
/*}*/

/*!* Formations *!*/

/*!* Experiences *!*/

/* Reset simple */
*{box-sizing:border-box}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    display:flex;
    min-height:100vh;
    flex-direction:column
}

main{
    flex:1;
    padding:24px
}

.container{
    max-width:1100px;
    margin:0 auto
}


/* Banner */
.banner-name{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;
    background:#ddd;
    padding:20px;
    border-radius:8px
}

.banner-name img{
    width:160px;
    height:160px;
    object-fit:cover;
    border-radius:50%;
}
.banner-name .banner-text h1{
    font-size:2.2rem;
    margin:0
}
.banner-name .intro-small{
    margin-top:6px;color:#333
}


.texte-intro{
    max-width:900px;
    margin:20px auto
}


/* Carousel intérêts */
.interests{
    max-width:900px;
    margin:30px auto
}

.carousel{
    overflow:hidden;
    border-radius:8px
}

.carousel-track{
    display:flex;
    width:calc(4 * 100%);
    animation:scroll 16s linear infinite
}

.carousel-track img{
    width:100%;
    flex:0 0 100%;
    object-fit:cover;
    height:280px
}

@keyframes scroll{0%{transform:translateX(0)}25%{transform:translateX(-100%)}50%{transform:translateX(-200%)}75%{transform:translateX(-300%)}100%{transform:translateX(0)}}


/* Skills */
.skills-grid{
    display:flex;
    gap:20px;
    align-items: flex-start;
    margin-top:16px
}

.skill-card{
    flex:1;
    background:#f3f3f3;
    padding:16px;
    border-radius: 10%;
}