/* Reset simple */
*{box-sizing:border-box}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin : 0%;
    padding : 0%;
    display:flex;
    min-height:100vh;
    flex-direction:column;
    background: url("../Images/fond.gif") no-repeat center center fixed;
    background-size: cover;


}

main{
    flex:1;
    padding:24px;
}




/* Banner */
.banner-name{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;
    background:#ddd;
    padding:20px;
    border-radius:8px
}

.banner-name img{
    width:160px;
    height:160px;
    object-fit:cover;
    border-radius:50%;
}
.banner-name .banner-text h1{
    font-size:2.2rem;
    margin:0
}
.banner-name .intro-small{
    margin-top:6px;color:#333
}


.texte-intro{
    max-width:900px;
    margin:20px auto;
    text-align: left;
}


/* Carousel intérêts */
.interests{
    max-width:900px;
    margin:30px auto
}

.carousel{
    overflow:hidden;
    border-radius:8px
}

.carousel-track{
    display:flex;
    width:calc(4 * 100%);
    animation:scroll 16s linear infinite
}

.carousel-track img{
    width:100%;
    flex:0 0 100%;
    object-fit:cover;
    height:280px
}

@keyframes scroll{0%{transform:translateX(0)}25%{transform:translateX(-100%)}50%{transform:translateX(-200%)}75%{transform:translateX(-300%)}100%{transform:translateX(0)}}


/* Projets */

.container{
    max-width:1100px;
    margin:0 auto;
    width : 100%;
    background:#ddd;
    padding:50px;
    margin-bottom: 10px;
}

/* Projet individuel*/

.project {
   background:#f3f3f3;
   padding:16px;
   border-radius:10px;
   margin-bottom:18px;
   box-shadow:0 2px 6px rgba(0,0,0,0.1);
   transition:transform .2s ease;
}

.project:hover{
    transform: scale(1.1);
}

/* Skills */
.skills-grid{
    display:flex;
    gap:20px;
    align-items: flex-start;
    margin-top:16px
}

.skill-card{
    flex:1;
    background:#f3f3f3;
    padding:16px;
    border-radius: 10%;
}




/* Formations */

.container-formation{
    width : 100%;
    margin:0 auto;
    max-width:1100px;
}

.timeline{
    background:#f3f3f3;
}

.timeline-item{
    display:flex;
    flex-direction:column;

    border: #111111 1px solid;
    border-radius:8px;
    padding:16px;
}

/* Competences */

.container-competences{
    width : 100%;
    margin:0 auto;
    max-width:1100px;
}

/* Experiences */

.container-experiences{
    width : 100%;
    margin:0 auto;
    max-width:1100px;
}